html {
	height: 101%;
}

body {
	background: #fafafa;
	padding: 40px;
}

/* for IE8 */
:focus {
	outline: none;
}

/* for FireFox */
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a img {
	border:0;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 40px;
	top: 40px;
	color: #7a7a7a;
}

blockquote p {
	margin: 0 0 .6em 0;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 40px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

menu {
	float: right;
	padding: 20px;
	margin: 60px;
}

menu li{
	display: block;
	float: left;
	padding: 5px 10px;
	font: 18px/70px "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
	color: black;
	margin: 25px;
}

menu li:hover{
	color:#666;
}

h1 {
	text-transform: uppercase;
	font: bold 32px/36px sans-serif;
	letter-spacing: -1px;
	margin: 100px;
}

h2 {
	text-transform: uppercase;
	font: bold 22px/32px sans-serif;
	letter-spacing: -1px;
	padding: 10px 0;
	margin: 60px;
}

.red {
	color: red;
}


