html {
	height: 101%;
}

body {
	background: #fafafa;
	padding: 60px;
	margin: 0;
}

/* for IE8 */
:focus {
	outline: none;
}

/* for FireFox */
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a img {
	border: 0px;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 0px;
	top: -20px;
	color: #7a7a7a;
}

blockquote p {
	margin: 0 0 .6em 0;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

.menu {
	list-style: none;
	float: right;
	padding: 20px;
	margin: 40px;
}

.menu li{
	display: block;
	float: left;
	padding: 5px 10px;
	font: 18px/70px "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
	font-weight: lighter;
	color: black;
	
}

.menu li:hover{
	color: #333;
}

h1 {
	text-transform: uppercase;
	font: bold 32px/36px sans-serif;
	letter-spacing: -1px;
	margin: 80px;
}

h1 .dot {
	color: red;
	padding: 0 4px;
}

h2 {
	text-transform: uppercase;
	font: bold 22px/32px sans-serif;
	letter-spacing: -1px;
	padding: 50px 0;
	margin: 50px 0 0 0; 
	
}

	
#post {
	margin: 80px;
	overflow: auto;
}

#footer {
 	margin: 20px 80px;
	clear: both;
}

#album a {
	float: left;
	margin:auto

}

#album img {
	border: 1px solid #cccccc;
	margin: 20px 20px 0 0;
}

