

.flip{
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
}
.flip, .flip-box, .front, .back {
	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d; 
	        transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.flip-box, .front, .back {
	position: relative;
	width: 100%;
	height: 100%;
}

.front, .back {
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
	        transform: rotateX(-180deg);
}

.front, .s-flipped .back {
	z-index: 2;
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

.s-flipped .front {
	z-index: 0;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}



