---
layout: default
---

<div id="post">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  {% if page.summary and page.summary.size > 0 %}
  <div class=summary>{{ page.summary }}</div>{% endif %}
  {{ content }}

{% if page.tags and page.tags.size > 0 %}
  <hr />
  <div class="item_tags">Tags:{% for tag in page.tags %}
    <a href="/tags/{{ tag | replace:'+','%20'}}.html">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}
  </div>{% endif %}
</div>


<div id="related">
  <h4>Related Posts</h4>
  <ul class="posts">
{% for post in site.related_posts limit:3 %}{% include post.html %}{% endfor %}
  </ul>
</div>

